*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Inder;
}

body{
    width: 100%;
    background-color: #f2f2f2;
}

.usuarioLogged{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5vw;
    color: black;
    padding-right: 2vh;
    width: 11vw;
}

.logUser:hover > .ventanaEmergente{
    display: block;
}

.logUser:hover > .usuarioLogged{
    border-radius: 1.6vw 1.6vw 0vh 0vh;
}

.ventanaEmergente{
    background-color: #f2f2f2;
    position: fixed;
    display: none;
    padding: 0.5vw;
    width: 11vw;
    color: black;
}

.ventanaEmergente a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
    color: black;
    border-bottom: 1px solid black;
    padding: 0.5vw;
}

navbar > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
}

.ventanaEmergente img{
    width: 30px;
}

.usuarioLogged img{
    background-color: black;
    padding: 0.5vh;
    border-radius: 5vh;
    margin-right: 2vh;
}

.error{
    color: red;
}

a{
    text-decoration: none;
    color:white;
}


#iconoWeb, iconoSesion{
    width: 75px;
    color: white;
}

main > *{
    margin: 1vh;
}

section > div{
    margin: auto auto;
    display: flex;
    justify-content: center;
}

section{
    width: 100%;
}

main{
    width: 100%;
    display: flex;
}


.ads{
    width: 9%;
    background-color: #593B02;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 83vh;
}


navbar{
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    color: white;
    justify-content: space-around;
    flex-direction: row;
    background-color: #6E8C03;
}

footer{
    background-color: #6E8C03;
    color: #FFFFFF;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}