body{
    background-image: url(../img/fondoHeader.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
}

main{
    height: 85vh;
}

main * {
    margin: 0.5vw;
}

section{
    width: 40%;
    margin: auto auto;
    height: 55vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    width: 75%;
}

h2{
    font-size: 2vw;
}

#formIniciarSesion{
    display: flex;
    margin: 1vw;
    flex-direction: column;
}

#formIniciarSesion *{
    margin-bottom: 0.75vw;
}

input:not([type ='submit']){
    padding: 0.75vh;
    padding-left: 2vh;
    border: 1px solid black;
    border-radius: 1vw;
    font-size: 1vw;
    width: 16vw;
}

label{
    font-size: 1.2rem;
    display: flex;
    width: 30vw;
    justify-content: space-between;
}

input[type="submit"]{
    padding: 1vw;
    width: 10vw;
    border-radius: 2vw;
    border: 0;
    margin: auto;
    background-color: #4F5902;
    color: white;
    font-size: 1vw;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #6E8C03;
}

p > a{
    color: blue;
}

@media only screen and (max-width: 1200px) {
    
    label{
        font-size: 1.2rem;
        width: 40vw;
    }
    
    section{
        width: 60%;
    }
    
    h2{
        font-size: 2rem;
    }
    
    input[type="submit"]{
        font-size: 1.3rem;
        width: auto;
    }
    
}

@media only screen and (max-width: 800px) {

    section{
        width: 80%;
    }

    label{
        width: 60vw;
        font-size: 1.4rem;
    }
    
    input:not([type="submit"]){
        width: 30vw;
        font-size: 1rem;
    }
    
    #formIniciarSesion{
        margin-top: 6vw;
    }
    
     input[type="submit"]{
        font-size: 1.2rem;
        padding: 2vw;
        margin-top: 2vw;
    }
    
}


@media only screen and (max-width: 600px) {
    section{
        width: 100%;
    }
    
    h2{
        font-size: 2.5rem;
    }
    
    label{
        flex-direction: column;
        font-size: 1.6rem;
        width: 60vw;
    }
    
    input:not([type="submit"]){
        width: 60vw;
        font-size: 1.2rem;
    }
    
    #formIniciarSesion{
        margin-top: 6vw;
    }
    
    input[type="submit"]{
        font-size: 1.5rem;
        padding: 2vw;
        margin-top: 2vw;
    }
    
}