body{
    background-image: url(../img/fondoHeader.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
}

main{
    height: 85vh;
}

section{
    width: 40%;
    margin: auto auto;
    height: 55vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    width: 75%;
}

h2{
    font-size: 2vw;
}

#formIniciarSesion{
    display: flex;
    margin: 1vw;
    flex-direction: column;
}

#formIniciarSesion *{
    margin-bottom: 0.75vw;
}

input:not([type ='submit']){
    padding: 0.75vh;
    padding-left: 2vh;
    border: 1px solid black;
    border-radius: 1vw;
    font-size: 1vw;
    width: 16vw;
}

label{
    font-size: 1.2vw;
    display: flex;
    width: 30vw;
    justify-content: space-between;
}

input[type="submit"]{
    padding: 1vw;
    width: 10vw;
    border-radius: 2vw;
    border: 0;
    margin: auto;
    background-color: #4F5902;
    color: white;
    font-size: 1vw;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #6E8C03;
}

p > a{
    color: blue;
}